## Data for the City of Cambridge
This document analyzes data available about the City of Cambridge from the 2010 and 2000 censuses.

In [1]:
import numpy as np
import pandas as pd
import math

In [2]:
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [3]:
census2010 = pd.read_json('https://data.cambridgema.gov/resource/phr4-6r29.json')
cambridge = census2010[census2010['neighborhood_1'] == 'City of Cambridge']
cambridge

,_18_24,_25_34,_35_44,_45_54,_55_64,_5_to_17,_65,age_18_to_24_yrs,age_18_yrs,age_25_to_34_yrs,...,total_population,total_units,under_5,unit_density,units_of_city_total,unmarried_women_w_o_kids,vacant_occupied_units,vacant_units,white,white_population
0,21855,30166,12543,9338,9244,7502,200338,0.208,0.114,0.287,...,105162,47291,4526,11.6,1.0,1497,0.069,3259,0.666,70006

Distill the data into dataframes for demographic information.

In [4]:
black = cambridge['black_population']
asian = cambridge['asian_population']
hispanic = cambridge['hispanic_population']
white = cambridge['white_population']
total_pop = cambridge['total_population']
white/total_pop

0    0.665697
dtype: float64

In [5]:
census = pd.read_json('https://data.cambridgema.gov/resource/mfgg-pwyw.json')
census.head()

,_1980_2010_change_in_units,_1980_owner_occupied,_1980_owner_occupied_units,_1980_owner_occupied_units_as_of_city_total,_1980_renter_occupied_units,_1980_renter_occupied_units_2,_1990_2000_change,_1990_owner_occupied,_1990_owner_occupied_units,_1990_owner_occupied_units_as_of_city_total,...,neighborhood_1,neighborhood_2,population_1980,population_1980_of_city_total,population_1990,population_1990_of_city_total,population_2000,population_2000_of_city_total,population_2010,population_2010_of_city_total
0,5991,0.2152,8889,1.0000,29947,0.7251,9840,0.2849,11959,1.0000,...,City of Cambridge,100,95322,1.0000,95802,1.0000,101355,1.0000,105162,1.0000
1,3519,0.2191,530,0.0596,1769,0.7313,3854,0.2712,867,0.0725,...,East Cambridge,1,5380,0.0564,5780,0.0603,7294,0.0720,9234,0.0878
2,-531,0.0012,1,0.0001,853,0.9839,321,0.0000,0,0.0000,...,Area 2/MIT,2,4736,0.0497,5071,0.0529,5486,0.0541,5057,0.0481
3,107,0.1779,514,0.0578,2171,0.7515,-786,0.2461,719,0.0601,...,Wellington-Harrington,3,7302,0.0766,7105,0.0742,7345,0.0725,6516,0.0620
4,-35,0.1288,364,0.0409,2083,0.7371,260,0.1767,476,0.0398,...,Area Four,4,6532,0.0685,6886,0.0719,7263,0.0717,6792,0.0646

Total population: P0030001

White population = P0030002

Black population = P0030003

In [12]:
key = "d923b916d08af136ade78b021cc31f162cbb2d2f"
test2 = pd.read_json('https://api.census.gov/data/2010/sf1?get=P0030001&in=state:25&for=place:11000&key={}'.format(key))
test2

          0      1      2
0  P0030001  state  place
1    105162     25  11000

In [ ]:
H0060002
P0010001