## Harvard's Expansion
A continuation/complication of the physical impact document, this document will outline how Harvard has changed over the past 2 decades, starting in the year 2000 and ending in the year 2016.

The majority of the data for this expansion was pulled from: http://www.cambridgema.gov/CDD/planud/institutionalplanning/oldertowngownreports.

The "change" will focus on Cambridge, where the data is most readily available and complete. Future projects may focus on other key places for Harvard's expansion, like Allston. Harvard's change is found in its taxable and tax-exempt property growth, its student population growth, and the taxes and PILOT (Payment in Lieu of Taxes) paid to Cambridge.

In [1]:
import numpy as np
import pandas as pd
from scipy import stats
import pickle

In [2]:
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

In [3]:
expander = pd.read_excel("towngown_data.xlsx", header=1)
expander = expander.round(0)
expander

,Year,Student Population,Tax Exempt Property (SF),Tax Exempt Property (A),Taxable Property (SF),Taxable Property (A),Payments to City
0,2000,20529,11800000,271.0,900000,21.0,8467151
1,2001,20975,11500000,264.0,995100,23.0,8751365
2,2002,20791,11640000,267.0,1130000,26.0,10366585
3,2003,21273,11640000,267.0,1300000,30.0,10233641
4,2004,21201,8450640,194.0,1263240,29.0,12083442
5,2005,20991,8624880,198.0,1263240,29.0,13771156
6,2006,21332,8624880,198.0,1219680,28.0,14592500
7,2007,22086,12980880,298.0,1219680,28.0,15173863
8,2008,21972,8799120,202.0,1089000,25.0,13388612
9,2009,22814,8755560,201.0,1089000,25.0,13366092
10,2010,23897,8799120,202.0,1089000,25.0,14282663
11,2011,23820,8842680,203.0,1089000,25.0,15987554
12,2012,23668,8276400,190.0,1001880,23.0,14216649
13,2013,23758,8276400,190.0,1001880,23.0,14120766
14,2014,24357,8319960,191.0,1001880,23.0,11023666
15,2015,24827,8407080,193.0,958320,22.0,15266613
16,2016,25547,8363520,192.0,958320,22.0,18472321

In [4]:
# Growth of student population
years = pd.to_numeric(expander['Year']).as_matrix()
stud_pop = pd.to_numeric(expander['Student Population']).as_matrix()

slope, intercept, r_value, p_value, std_err = stats.linregress(years, stud_pop)
studpop_fit = slope * years + intercept

data = go.Data([
        go.Scatter(
            x = years,
            y = stud_pop
        ),
        go.Scatter(
            x = years,
            y = studpop_fit,
            mode='lines',
            marker=go.Marker(color='rgb(255, 63, 52)'),
            name='Fit'
            )])
layout = go.Layout(
            title = "The Growth of Harvard's Student Population",
            yaxis=dict(
                title='Number of Students'),
            xaxis=dict(
                title='Year')
)

fig = go.Figure(data=data, layout=layout)
iplot(fig)

In [10]:
# Growth of property
years = np.arange(2003, 2017)
post_2000 = expander[expander['Year'] > 2002]
props = pd.to_numeric(post_2000['Taxable Property (A)']).as_matrix()

slope, intercept, r_value, p_value, std_err = stats.linregress(years, props)
props_fit = slope * years + intercept

trace0 = go.Scatter(
            x = expander['Year'],
            y = expander['Tax Exempt Property (A)'],
            name='Tax Exempt'
        )
trace1 = go.Scatter(
            x = expander['Year'],
            y = expander['Taxable Property (A)'],
            name='Taxable',
            yaxis='y2'
        )
fit0 = go.Scatter(
            x = years,
            y = props_fit,
            mode='lines',
            marker=go.Marker(color='rgb(255, 63, 52)'),
            name='Taxable Fit',
            yaxis='y2'
        )

data = [trace0, trace1]

layout = go.Layout(
            title = "The Growth of Harvard's Property in Cambridge Since 2000",
            yaxis=dict(
                title='Tax Exempt Property (Acres)'
            ),
            yaxis2=dict(
                title='Taxable Property (Acres)',
                overlaying='y',
                side='right'
            ),
            xaxis=dict(
                title='Year')
        )

fig = go.Figure(data=data, layout=layout)
plotly.plotly.iplot(fig, filename="cambridge_property")

In [12]:
# Change in payments to Cambridge

years = pd.to_numeric(expander['Year']).as_matrix()
pay_city = pd.to_numeric(expander['Payments to City']).as_matrix()

poly_fit = np.polyfit(years, pay_city, 3)
f = np.poly1d(poly_fit)

data = go.Data([
        go.Scatter(
            x = years,
            y = pay_city,
            name='Data'
        )])
layout = go.Layout(
            title = "How Harvard Pays Cambridge Annually",
            yaxis=dict(
                title='Payments to Cambridge ($)'),
            xaxis=dict(
                title='Year')
)



fig = go.Figure(data=data, layout=layout)
iplot(fig)

Save the data for use in another notebook.

In [7]:
with open('VariableData/expander.pickle', 'wb') as f:
    pickle.dump(expander, f)