In [1]:
%matplotlib inline

In [21]:
import numpy as np
import pandas as pd
import math
from scipy import stats
import pickle
from causality.analysis.dataframe import CausalDataFrame
from sklearn.linear_model import LinearRegression
import datetime

In [3]:
import matplotlib.pyplot as plt
import plotly
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

Open the data from past notebooks and correct them to only include years that are common between the data structures (>1999).

In [15]:
with open('VariableData/money_data.pickle', 'rb') as f:
    income_data, housing_data, rent_data = pickle.load(f)
with open('VariableData/demographic_data.pickle', 'rb') as f:
    demographic_data = pickle.load(f)
with open('VariableData/endowment.pickle', 'rb') as f:
    endowment = pickle.load(f)
with open('VariableData/expander.pickle', 'rb') as f:
    expander = pickle.load(f)

In [5]:
endowment = endowment[endowment['FY'] > 1997].reset_index()
endowment.drop('index', axis=1, inplace=True)

demographic_data = demographic_data[demographic_data['year'] > 1999].reset_index()
demographic_data.drop('index', axis=1, inplace=True)

income_data = income_data[income_data['year'] > 1999].reset_index()
income_data.drop('index', axis=1, inplace=True)

housing_data = housing_data[housing_data['year'] > 1999].reset_index()
housing_data.drop('index', axis=1, inplace=True)

rent_data = rent_data[rent_data['year'] > 1999].reset_index()
rent_data.drop('index', axis=1, inplace=True)

Read in the data on Harvard owned land and Cambridge's property records. Restrict the Harvard data to Cambridge, MA.

In [6]:
harvard_land = pd.read_excel("Spreadsheets/2018_building_reference_list.xlsx", header=3)
harvard_land = harvard_land[harvard_land['City'] == 'Cambridge']

In [7]:
cambridge_property = pd.read_excel("Spreadsheets/cambridge_properties.xlsx")

Restrict the Cambridge data to Harvard properties, and only use relevant columns.

In [8]:
cambridge_property = cambridge_property[cambridge_property['Owner_Name'] == 'PRESIDENT & FELLOWS OF HARVARD COLLEGE']

In [9]:
cambridge_property = cambridge_property[['Address', 'PropertyClass', 'LandArea', 'BuildingValue', 'LandValue', 'AssessedValue', 'SalePrice', 'SaleDate', 'Owner_Name']]

Fix the time data.

In [10]:
cambridge_property['SaleDate'] = pd.to_datetime(cambridge_property['SaleDate'], infer_datetime_format=True)

In [13]:
clean_property = cambridge_property.drop_duplicates(subset=['Address'])

Only look at properties purchased after 2000.

In [120]:
recent_property = clean_property[clean_property['SaleDate'] > datetime.date(2000, 1, 1)]

In [38]:
property_numbers = recent_property[['LandArea', 'AssessedValue', 'SalePrice']]
num_recent = recent_property['Address'].count()
sum_properties = property_numbers.sum()

In [39]:
sum_properties

LandArea            281219
AssessedValue    112671400
SalePrice         53436500
dtype: int64

In [43]:
full_property_numbers = clean_property[['LandArea', 'AssessedValue', 'SalePrice']]
sum_full = full_property_numbers.sum()

In [46]:
delta_property = sum_properties / sum_full

In [47]:
delta_property

LandArea         0.028368
AssessedValue    0.017136
SalePrice        0.410431
dtype: float64

What can be gathered from above?

Since the year 2000, Harvard has increased its presence in Cambridge by about 3%, corresponding to about 2% of its overall assessed value, an increase of 281,219 square feet and \$112,671,400. Although the assessed value increase is so high, Harvard only paid \$53,436,500 for the property at their time of purchase.

To make some adjustments for inflation:

Note that the inflation rate since 2000 is ~37.8% (https://data.bls.gov/timeseries/CUUR0000SA0L1E?output_view=pct_12mths).

In [121]:
inflation_data = pd.read_excel("Spreadsheets/inflation.xlsx", header=11)
inflation_data = inflation_data[['Year', 'Jan']]
inflation_data['Year'] = pd.to_datetime(inflation_data['Year'], format='%Y')
inflation_data['CumulativeInflation'] = inflation_data['Jan'].cumsum()
inflation_data.rename(columns={'Year' : 'SaleDate'}, inplace=True)
recent_property['SaleDate'] = recent_property['SaleDate'].dt.year
inflation_data['SaleDate'] = inflation_data['SaleDate'].dt.year

/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [122]:
recent_property = pd.merge(recent_property, inflation_data, how="left", on=['SaleDate'])
recent_property = recent_property.drop('Jan', 1)

In [128]:
recent_property['TodaySale'] = (1 + (recent_property['CumulativeInflation'] / 100)) * recent_property['SalePrice']

In [129]:
today_sale_sum = recent_property['TodaySale'].sum()

In [130]:
today_sale_sum

60866875.6

In [133]:
sum_properties['AssessedValue'] - today_sale_sum

51804524.399999999

Hence, adjusted for inflation, the sale price of the property Harvard has acquired since 2000 is \$60,866,875.

The difference between this value and the assessed value of the property (in 2018) is: \$51,804,524, showing that Harvard's property has appreciated in value even more than (twice more than) inflation would account for, illustrating a clear advantageous dynamic for Harvard.

In [141]:
sorted_df = recent_property.sort_values(by=['SaleDate'])
sorted_df = sorted_df.reset_index().drop('index', 1)
sorted_df['CumLand'] = sorted_df['LandArea'].cumsum()
sorted_df['CumValue'] = sorted_df['AssessedValue'].cumsum()
sorted_df

,Address,PropertyClass,LandArea,BuildingValue,LandValue,AssessedValue,SalePrice,SaleDate,Owner_Name,CumulativeInflation,TodaySale,CumLand,CumValue
0,113 Walker St,SNGL-FAM-RES,9121,2973800,1740000,4713800,1600000,2000,PRESIDENT & FELLOWS OF HARVARD COLLEGE,2.0,1632000.0,9121,4713800
1,100 Land Blvd,"Private College, University",65683,43883200,19941400,63824600,100,2002,PRESIDENT & FELLOWS OF HARVARD COLLEGE,7.2,107.2,74804,68538400
2,24 Blackstone St,"Private College, University",109943,3784300,8000000,11784300,14118000,2003,PRESIDENT & FELLOWS OF HARVARD COLLEGE,9.1,15402738.0,184747,80322700
3,45 Blackstone St,CONDO-BLDG,43988,0,0,0,14118000,2003,PRESIDENT & FELLOWS OF HARVARD COLLEGE,9.1,15402738.0,228735,80322700
4,153 Mt Auburn St,"Private College, University",10233,1228800,484700,1713500,0,2003,PRESIDENT & FELLOWS OF HARVARD COLLEGE,9.1,0.0,238968,82036200
5,0 Arrow St,"Private College, University",0,8753600,0,8753600,5700000,2004,PRESIDENT & FELLOWS OF HARVARD COLLEGE,10.2,6281400.0,238968,90789800
6,20 Sumner Rd,"Private College, University",8184,607000,1152400,1759400,1288000,2010,PRESIDENT & FELLOWS OF HARVARD COLLEGE,23.1,1585528.0,247152,92549200
7,42 Kirkland St,"Private College, University",10518,1564400,925600,2490000,4112400,2010,PRESIDENT & FELLOWS OF HARVARD COLLEGE,23.1,5062364.4,257670,95039200
8,9 Ash St,SNGL-FAM-RES,4800,303200,1426200,1729400,1250000,2010,PRESIDENT & FELLOWS OF HARVARD COLLEGE,23.1,1538750.0,262470,96768600
9,122 Mt Auburn St,MULTIUSE-RES,18749,9884800,6018000,15902800,11250000,2011,PRESIDENT & FELLOWS OF HARVARD COLLEGE,24.1,13961250.0,281219,112671400